{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
    <div class="form-group">
        <form class="text-left border border-dark p-5" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Register</button>
            <hr>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
        </form>
    </div>
</div>
{% endblock %}