{% extends 'base.html' %}
{% block title %}{{ post.title }} - {{ post.author }}{% endblock %}
{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author }}</a> | {{ post.post_date }}</small></br>
    <hr>
    </br>
    {{ post.body|safe }}
    <br>
    <hr>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-warning btn-sm">Unlike</button>
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
            {% endif %}
        {% else %}
            <small><a href="{% url 'login' %}">Login to like</a></small>
        {% endif %}
        <b>{{ total_likes }} Likes</b>
    </form>
    <hr>

    {% if user.id == post.author.id %}
        <hr>
        <a href="{% url 'update_query' post.pk%}">Edit</a>
        <a>|</a>
        <a href="{% url 'delete_query' post.pk%}">Delete</a>
    {% endif %}
</div>
<h2>Comments:</h2>
{% if not post.comments.all %}
    No Comments Yet
{% else %}
    {% for comment in post.comments.all %}
        <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
        </br>{{ comment.body }}
    {% endfor %}
    <hr>
    </br>
{% endif %}
{% endblock %}