{% extends 'base.html' %}
{% block title %}Quelver{% endblock %}
{% block content %}
<div class="container">
  <h1 style="font: bold;color: cornflowerblue;text-decoration: wavy;text-align: center;">SOLUTION TO ALL YOUR PROBLEMS</h1>
  <h2 style="font: bold;color: cadetblue;text-decoration: wavy;text-align: center;">You name them we solve them!</h4>
        
  <img src="https://base.imgix.net/files/base/ebm/industryweek/image/2020/04/problem_solving.5e962254a8281.png?auto=format&fit=crop&h=432&w=768" style="display: block;margin-left: auto;margin-right: auto;">
  <h4 style="color: lightcoral;">Hello everyone! Problems are a part of our life but whether to stick to them or not to is our choice.But if you don't know how to solve them,this is the perfect website to ask for your solutuion.Please drop your problem/issue and we'll solve it as soon as possible.You just need to register yourself for writing your problem. </h4>
  <h3 style="color: rgb(35, 10, 179);text-align: center;">Thank you! We'll give our best to solve your problems.</h4>
</div>
{% endblock %}